body {
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #cc73ff;
    font: bolder;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: #e3b3ff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

p {
    color: #fff;
    font-size: 30px;
}

p a {
    color: #9293ff;
    text-decoration: none;
    cursor: pointer;
}

.destaque{
    color: #ffb3b3;
    font-weight: bold;
}