body{
    background-color: black;
    color: white;
}

h1{
    color: pink;
    font-size: 40px;
    text-align: center;
}

h2{
    color: rgb(250, 133, 133);
    font-size: 30px;

    border: solid 10px rgb(250, 133, 133);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

a{
    color: rgb(119, 133, 255);
    font-size: 20px;
    text-decoration: none;
}

i{
    color: yellowgreen;
}

strong{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: block;
}

p{
    display: block;
    background-color: rgb(199, 139, 255);
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;

    max-width: 500px;
    max-height: 500px;
}